
<div id="summary">

  <p class="collapse" id="collapseSummary">
<h3 class="title-highlight">
  I sense that you are a little angry right now.
</h3>
<p>That's okay, we all get mad sometimes. But if you like, here are some things that can help you deal with your anger.</p>
<br>

<ul>
  <li>What happened? Did something trigger your angry feelings? Write it down on a piece of paper. Then put it away - you can worry about that a little later, but for now let's focus on this:</li>
  <br>
  <li>Take a few deep breaths. In. Out. Repeat. Did you know that anger lets your heart rate increase, and your muscles tense up? Deep and conscious breathing is one of the best ways to relax and come back down.</li>
  <br>
  <li>Where in your body do you feel your anger - in the stomach, your throat or your fists? What does it feel like? Can you describe it?</li>
  <br>
  <li>Try blowing off some steam - what about some physical exercise like running, doing, yoga, dancing, jumping? Find what makes you feel good! Did you know that exercise floods your body with endorphines - the happyness hormone?</li>
  <br>
  <li>Take a time out. No matter whether you had a fight with someone or not - now is a good occasion for some me-time. Find an activity that you enjoy; this could be a regular hobby or something new to try out. Have you ever tried meditation?</li>
  <br>
  <li>Have you ever tried to meditate? Meditation or other mindfulness practices can help you deal with situations like this and re-focus on what matters to you.</li>
  <br>
  <li>Think back to what made you angry. Can you do anything to change or resolve the situation? If so, give it a go. If you can't change it, try to let it go.</li>
  <br>
  <li>Talk to someone. Putting your feelings in words can be a first step to overcoming a situation where you feel stuck.</li>
  <br>
  <li>Sleep, eat, rest. Yes, tiredness and lack of rest can negatively influence your mental and physical well-being. Turn off your phone. Focus on what YOU need right now and treat yourself</li>
</ul>
  </p>
        <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>

</div>

