<h3 class="title-highlight">
  It seems like you're feeling a little uncomfortable.
</h3>
<h2 class="emotion-title" >First off, your period is nothing to be ashamed of. It is a natural process that half of the world's 7 billion people experience at some point in their lives. It is 100% natural and normal!</h2 >
<br>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"><i class="fas fa-chevron-down" > </i></button>
<div id="demo" class="collapse emotion-content">
  <br>
  <ul>
    <li>
      <h4><span>Bordy changes</span></h4>
      <p>As your body goes through the menstrual cycle, it undergoes many changes. This can manifest itself through mood swings, changing energy levels, but also vaginal fluids (other than blood), a <a href="https://www.shethinx.com/blogs/womens-health/why-is-period-poop-so-weird">change in digestion</a>, as well as <a href="https://flo.health/menstrual-cycle/health/period/oily-skin-before-and-during-period">irritated or oily skin</a>. </p>
    </li>

    <li>
      <h4><span>Feel ashamed?</span></h4>
      <p>Many people feel ashamed to ask questions around their periods. But worry not, <a href="https://www.youtube.com/watch?v=fUxRKKvwTCU">the internet has your back! There are no stupid questions, only ones not asked.</a></p>
    </li>

    <li>
      <h4><span>Myths</span></h4>
      <p>There are a lot of myths surrounding the menstruational cycle. Some of them might strike you as funny (like, who would believe <em>that</em>?!), others might be things that you actually believe yourself. Educating yourself is the first step towards <a href="https://www.shethinx.com/blogs/womens-health/debunking-common-menstruation-period-myths">debunking some of these myths</a>.</p>
    </li>

    <li>
      <h4><span>Communication is key</span></h4>
     <p>The internet can be a good source for information, but it doesn't replace interaction and exchanges with other people. Talk to a trusted friend or family member about their experiences during their period.</p>
   </li>
  </ul>
</div>
