<h3 class="title-highlight">
  Fear is one of the most powerful emotions. Don't worry if you feel a little overwhelmed by it.
</h3>
<p>While fear is incredibly useful when faced with situations of emergency, we can also experience fear when we are not in danger at all. Here are some tips that might help you move on and even learn from your fear.</p>
<ul>
  <li>Being afraid of some things – like fires – can keep you safe. Fearing failure can make you try harder, so that you won’t fail. But when the feeling gets too strong, it might stop you from even trying all together.</li>
  <br>
  <li>So what is it that you're afraid of? Name the fear. Sometimes fear makes itself known immediately, and other times it can be difficult to name those anxious feelings lurking in the back of your mind.</li>
  <br>
  <li>Try to understand what triggered your feelings of fear and anxiety. It it something specific that keeps occuring? The better you understand where it is coming from, the better you'll be able to tackle it.</li>
  <br>
  <li>How much power does this fear have over you and your actions? Does it prevent you from doing what you would actually like to do?</li>
  <br>
  <li>Picture the worst case scenario that you're fearing for a second. It may be concrete (like a fear of spiders) or situational (like a fear of being called on in class).</li>
  <br>
  <li>Now picture the ideal scenario. What would happen if everything goes perfectly, and the thing you're afraid of doesn't materialise? Isn't this positive feeling worth giving it a try?</li>
  <br>
  <li>Did you know that most people experience fear <em>before</em> an event, but not anymore when in the middle of it?. Fear can actually sharpen your senses in the moment - allowing you perform at the height of your power!</li>
  <br>
  <li>If you longer-term anxiety is affecting your daily life or if you are experiencing panic attacks, talk to someone about it or ask your doctor for advice. </li>
</ul>
