
fear

relax
- use meditation, you can lie down and use a meditation app ( as headspace, petit bambou)
or a progressive muscle relaxation with some yoga videos on youtube .

Plan short-term activities
- an activity that you really like, that is enjoyable or distracting (drawing, playing guitar or pet your dog for example )

don’t avoid the situation
- facing the problem can be scarry , but at the end of the day you would be proud of yourself

get support
- talk of your emotion to someone you trust and who can provide you with non judgemental advices

exercise !
- Exercise can refocus you (your mind can only focus on one thing at a time).

<h3 class="title-highlight">
  You seem to be quite sad right now.
</h3>
<p>The good thing about sadness is: it passes.</p>
<ul>
  <li></li>
  <br>
  <li></li>
  <br>
  <li></li>
  <br>
  <li></li>
  <br>
  <li></li>
  <br>
  <li></li>
  <br>
  <li></li>
  <br>
  <li></li>
  <br>
  <li></li>
</ul>
