<h3 class="title-highlight" style="font-size: 2.2vw">
  Someone's in a <strong>good mood</strong> today! That's great!
</h3>
<p class="emotion-title">Savour this moment. Feeling joy has many posoitive effects for your mind and body. It boosts your immune system, fights long term stress and even promotes an overall healthier lifestyle.</p>
<br>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"><i class="fas fa-chevron-down" > </i></button>
<div id="demo" class="collapse emotion-content">
  <br>
  <ul>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <li>
        <h4><span>The focus</span></h4>
        <p>Did you know that we tend to over-focus negative events and feelings over positive ones? In practice this means that we need one negative experience can balance out five positive ones. This is called the negative bias of our brain. But hold on, this is no cause for worry.</p>
      </li>
    </div>
    <div class="col-xs-12 col-md-6">
      <li>
        <h4><span>Write down how you feel.</span></h4>
        <p> What made you feel this good? What are you grateful for? This will not only focus your attention on the positive side of things. Making yourself aware of positive feelings when they occur can also increase your happiness in the long run. Next time you're having a bad day, you can look back to this moment and remind yourself that life is good.</p>
      </li>
    </div>
    <div class="col-xs-12 col-md-6">
      <li>
        <h4><span>Share the feeling.</span></h4>
        <p>Call or message a friend or family member and spread your good vibes. Studies have shown that those who share positive feelings with others are happier overall. And: it might make their day brighter too! </p>
      </li>
    </div>
    <div class="col-xs-12 col-md-6">
      <li>
        <h4><span>Enjoy what is now</span></h4>
        <p>Avoid "joy-killing" by worrying about what might spoil this good moment. Enjoy what is now, and don't think about the million things that <em>might</em> (but most probably <em>won't</em>) happen.</p>
      </li>
    </div>
    <div class="col-xs-12 col-md-6">
      <li>
        <h4><span>Pause for a second</span></h4>
        <p>Pause for a second and look back at how good things are, and far you've come. Whether you have been working towards something very specific, or your accomplishments in more broad terms: treat yourself to a "well done"!</p>
      </li>
    </div>
    <div class="col-xs-12 col-md-6">
      <li>
        <h4><span>Do something fun</span></h4>
        <p>What better time is there to do something fun than <em>now</em>? Whatever it is that you enjoy or feel like doing right now - go ahead and do it.</p>
      </li>
    </div>
  </ul>
</div>
