<h3 class="title-highlight">
  I'm sorry you are feeling sad today.
</h3>
<p>It is absolutely normal to feel sad sometimes - and the good thing is: it passes. Here are some things you can do to feel better:</p>
<ul>
  <li>Notice how you feel, and why. Can you name your emotions? Can you tell where in your body do you feel them?</li>
  <br>
  <li>If you feel like crying - go ahead and do it. Sad music or movies can help to let the emotions out. You might feel a lot better after.</li>
  <br>
  <li>What type of music do you feel like listening to right now? Whether happy or sad music - it is a healthy outlet to express your emotions. And if you want to sing or dance - even better!</li>
  <br>
  <li>Take a shower and get dressed - even if you're not going anywhere! Putting on your favourite clothes and dressing up can help you cheer yourself up. You are beautiful. </li>
  <br>
  <li>Take some time for yourself. It doesn't matter what you enjoy doing: a face mask, nail polish or a nap. Treat yourself to something that makes you feel good.</li>
  <br>
  <li>Go out into nature, even if it's just for a walk in the park. The fresh air, the animals and birds around you are a reminder that everything and everyone goes through phases and cycles - it's the circle of life! (<a href="https://www.youtube.com/watch?v=GibiNy4d4gc">Check this out if you're not convinced</a>).</li>
  <br>
  <li>Talk to a trusted friend or family member about how you feel. Putting what makes you sad into words can help to lift you back up.</li>
  <br>
  <li>If you feel like you don't over a longer period of time you </li>
  <br>
  <li></li>
</ul>

Start to laugh again
- watch a funny movie , or stupid videos on youtube

exercise
- shoot your body with endorphins (also called happiness hormons, what more could you want ? )

