
<h3 class="title-highlight">
  I'm sorry you are feeling sad today.
</h3>
<p>It is absolutely normal to feel sad sometimes - and the good thing is: it passes. Here are some things you can do to feel better:</p>
<ul>
  <br>
  <li>Notice how you feel, and why. If you feel like crying - go ahead and do it. Sad music or movies can help to let the emotions out. You might feel a lot better after.</li>
  <br>
  <li>What type of music do you feel like listening to right now? Whether happy or sad music - it is a healthy outlet to express your emotions. And if you want to sing or dance - even better, groove it out!</li>
  <br>
  <li>Did you know that exercise floods your body with endorphines - the happyness hormone? Even if you don't feel like it right now - try some excercise like running, doing, yoga, dancing, jumping.</li>
  <br>
  <li>Take a shower and get dressed - even if you're not going anywhere! Putting on your favourite clothes and dressing up can help you cheer yourself up. You are beautiful. </li>
  <br>
  <li>Take some time for yourself. It doesn't matter what, as long as you enjoy doing it: a face mask, a nice cup of tea or a nap. Treat yourself to something that makes you feel good.</li>
  <br>
  <br>
  <li>Smile! Yes, even if you don't feel like it. Researchers have found out that using these muscles in your face send signals to your brain, which release dopamin and serotonin - perfect recipe for feeling better!</li>
  <li>Go out into nature, even if it's just for a walk in the park. The fresh air, the animals and birds around you are a reminder that everything and everyone goes through phases and cycles - it's the circle of life! (<a href="https://www.youtube.com/watch?v=GibiNy4d4gc">Check this out if you're not convinced</a>).</li>
  <br>
  <li>Talk to a trusted friend or family member about how you feel. If you are struggling with extreme sadness over a longer period of time, seek some professional advice.</li>
</ul>
