


$color: #f6eee5;

#emotion-title{
  h2 {
  position: relative;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: #f6eee5;
    &:after {
      content: "";
      position: absolute;
      left: 0; right: 0;
      bottom: -10px;
      border-bottom: 3px solid $color;
      width: 30px;
    }
  }
}

.emotion-content {
  display: flex;
  flex-wrap: wrap;
  h3{
    color:#5b9096;
  }
ul {
  list-style: none;
  margin: 4em 0 0;
  padding: 0;
  li {
    margin-bottom: 2em;
    h4 {
      position: relative;
      z-index: 1;
      margin: 0;
      font-size: 1em;
      line-height: 2.5em;
      font-weight: 300;
      letter-spacing: 1px;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        background-color: #f48e5f;
        opacity: 0.3;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
      }

      span {
        padding-left: 15px;
      }
    }
      float: left;
      margin-right: 5%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }


    p {
      padding-left: 15px;
      font-size: 1.1em;
      line-height: em(27);
      font-weight: 400;
    }
  }
}
