// Import page-specific CSS files here.

.background-index{
 // background: url(https://bourbon.britcdn.com/assets/bg-pattern-pink.svg),rgba(242, 124, 73, 0.33);
 background: url(https://bourbon.britcdn.com/assets/bg-pattern-peach.svg),#fff8f1;
 // background-image: asset-url('back.jpg');
 // background-color: rgba(255, 0, 0, 0.4);
 background-size: 100%;
 min-height: 130vh;
 color: black;
 // background-image:linear-gradient(white, rgba(242, 124, 73, 0.33));

  .index-container {
   display: flex;
   justify-content: space-evenly;
  }
}

.half-index {
  margin: 70px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  .card {
    width: 46%;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

#greeting-index{
background-index:  rgba(255, 255, 255, 0.62)
}

.display-index {
  display: flex;
}

.symptom-input h1, h2, h3, p {
  color: black;
}

#user-input{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.62);
  border: 0;

}

#user-input:focus {
  outline: none;
  border: 1px solid #5B8E7D;
}

#symptom-input{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.62);
  margin-top: inherit;
  width: inherit;
  padding: inherit;

  h3 {
    color: #5B8E7D;
  }

}

#btn-color-green{
  background-color: #5B8E7D;
  border: green;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.title-highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 94%, $orange-underline 20%);
  margin-bottom: 1em;
}
