// Import page-specific CSS files here.
@import "show";
@import "emotions_advices";

.background-index{
 background-color:#fff8f1;
 background-size: 100%;
 min-height: 130vh;
 color: black;
  .index-container {
   display: flex;
   justify-content: space-evenly;
  }
}

.half-index {
  margin: 70px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  .card {
    width: 30%;
    margin-right: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 3px lightcoral;
    padding-bottom: 7%;
    background-color: #FFFCFA;
  }
}

.btn-color-advices {
  background-color: #5B8E7D;
  border: #5B8E7D;
}
.error-messages{
  color: red;
}
#greeting-index{
background-index:  rgba(255, 255, 255, 0.62);

p {
  font-size: 18px;
  line-height: 34px;
}
}

.display-index {
  display: flex;
}

.symptom-input h1, h2, h3, p {
  color: #403E3D;
}

.symptom-input p {
  font-size: 18px;
}


#user-input{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.62);
  border: 0;

}

#user-input:focus {
  outline: none;
  border: 1px solid #5B8E7D;
}

#symptom-input{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.62);
  margin-top:4vh;
  width: inherit;
  padding: inherit;

  h3 {
    color: #5B8E7D;
  }

}

#btn-color-green{
  background-color: #5B8E7D;
  border: green;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

#btn-color-green:hover {
  background-color: #D5875B;
  border: green;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.btn-primary {
  color: white;
  background-color: #5B8E7D;
  border-color: #5B8E7D;
  margin-bottom: 1.5em;
}

.btn-primary:hover {
  color: white;
  background-color: #D5875B;
  border-color: #D5875B;
  margin-bottom: 1.5em;
}

.title-highlight {
background: linear-gradient(180deg,rgba(255,255,255,0) 96%, $orange-underline 20%);
margin-bottom: 1em;
padding-top: 1em;
color:#5b9096
}

.welcome {
  margin-top: 10vh
}

.title-color {
  color: #5B8E7D;
}

#title-layout {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    /* font-weight: bolder; */
    color: #5B8E7D;
    max-height: max-content;
}
.mascot {
  background-image: asset-url("PobydyGif.gif");
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
}
.welcome-title-width-100 {
  width: 100%;
}

  .index-title {
  font-size: 50px;
  word-spacing: 1px;
  line-height: 90px;
  text-transform: none;
  letter-spacing: 4px;
  color: #181818;
  text-align: center;
  margin: 70px;
  text-shadow: 2px 2px 0px #d5875b;
  }
