// @import "index";


  .show-title {
  font-size: 40px;
  word-spacing: 1px;
  line-height: 60px;
  text-transform: none;
  letter-spacing: 4px;
  color: #5B8E7D;
  text-align: center;
    h3 {
      padding-top: 70px;
    }
}

.padding-20 {
  padding-bottom: 20px;
}

#emotion-advice{
text-align: justify;
background: antiquewhite;
padding: 34px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
display: block;
min-width: 51vw;
width: initial;
min-height: 50px;
height: initial;
  h3 {
    color: #5B8E7D;
    padding-bottom: 20px;
    font-size: 30px
  }

  li {
    font-size: 20px;
  }
}

.card-wrap{
  display: flex;
  margin-top: 7.125em;
  margin-bottom:12.125em;
  flex-wrap: wrap;
}

.card-img-top {
  height: 50%;
}

#calendar-show{
  display: flex;
  justify-content: space-around;
}

#woof-woof{
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  // background-color: rgba(255, 255, 255, 0.62);
  background-color: #FEF8F1;
  width: 14em;
  position: relative;

  ul{
    list-style-type: none;
  }

  h3 {
    padding-left: 30px;
    padding-right: 40px;
    color: #5B8E7D;
  }

  .title-highlight {
    margin-bottom: 10px;
  }
}
.btn-delete{
      background-color: #5B8E7D;
    border: green;
    margin-bottom: 1.5em;
    margin-top: 1em;
}


.bounce {
-moz-animation: bounce 4s infinite;
-webkit-animation: bounce 4s infinite;
animation: bounce 4s infinite;
}
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -moz-transform: translateY(0);
  transform: translateY(0);
}
40% {
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
}
60% {
  -moz-transform: translateY(-15px);
  transform: translateY(-15px);
}
}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
40% {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
60% {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
40% {
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
60% {
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
}

.title-display {
  justify-content: center;
}

.date-display {
  text-align: center;
  height: 50px;
}

.user-text-display {
  padding-top: 20px;
}

.btn-display {
  text-align: center;
}


.button-display {
  margin-top: 10px;
}

.show-title-display {
  h3 {
  color: #5B8E7D;
  // padding-bottom: 20px;
  font-size: 30px;
  }
}

.margin-title-calendar {
  margin-bottom: 27px;
  margin-top: 70px;
}

.padding-calendar-container {
  padding-bottom: 50px;
}

.little-title-display {
  height: 4px;
  text-decoration-line: underline;
}
