// @import "index";



#advices-show{
  text-align: center;
  margin:19em;
  margin-top:auto;
  margin-bottom: 0;
  justify-content: center;

  .show-title {
  font-size: 50px;
  word-spacing: 1px;
  line-height: 90px;
  text-transform: none;
  letter-spacing: 4px;
  color: #181818;
  text-align: center;
  margin: 70px;
  text-shadow: 2px 2px 0px #d5875b;
  }
  #down-arrow{
  color:#5b8e7d;
   font-size: 45px
  }
}
.container-show{
  margin: 70px;
  padding-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

      .card-show {
    width: 20%;
    margin: 10px;
  }
}

#emotion-advice{
text-align: justify;
margin: 10.625em;
background: antiquewhite;
padding: 34px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
display: block;
margin-top: auto;
margin-bottom: 5px;
  h3 {
    color: #5B8E7D;
    padding-bottom: inherit;
    font-size: 30px
  }

  li {
    font-size: 20px;
  }
}

.card-wrap{
  display: flex;
  margin-top: 7.125em;
  margin-bottom:12.125em;
  flex-wrap: wrap;
}

.card-img-top {
  height: 50%;
}

#calendar-show{
  display: flex;
  justify-content: space-around;
}

#woof-woof{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.62);
  width: 14em;
  ul{
    list-style-type: none;
  }

  p {
    padding-left: 40px;
    padding-right: 40px
  }
  h3 {
    padding-left: 30px;
    padding-right: 40px;
    color: #5B8E7D;
  }
}
.btn-delete{
      background-color: #5B8E7D;
    border: green;
    margin-bottom: 1.5em;
    margin-top: 1em;
}


.bounce {
-moz-animation: bounce 4s infinite;
-webkit-animation: bounce 4s infinite;
animation: bounce 4s infinite;
}
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -moz-transform: translateY(0);
  transform: translateY(0);
}
40% {
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
}
60% {
  -moz-transform: translateY(-15px);
  transform: translateY(-15px);
}
}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
40% {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
60% {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
40% {
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
60% {
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
}

