<div class="footer">
  <div class="row container-footer">
    <div class="footer-links col-xs-12 col-md-6">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright color-footer-sentence col-xs-12 col-md-2">
      Made with <i class="fas fa-heart heart-color"></i> at Le Wagon
    </div>
    <div class="footer-copyright col-xs-12 col-md-4 display-on-footer">
       <i class="far fa-copyright"> Copyright 2019 - All rights reserved</i>
    </div>
  </div>
</div>
