
<div class="background-index display-index">
  <div id="greeting-index"class="col-4 half-index">
    <h1 id="title-layout" class="title-highlight">Welcome ! 😊</h1>
    <br>
    <h2>How was your day ?</h2>
    <br>
    <p>Please tell me about your day in the text box bellow and how do you feel (values from 1 to 5)  </p>
    <br>

    <div id="symptom-input">
    <%= render 'new' %>
    </div>
  </div>
  <div id= "calendar-index" class="col-6 row-3 half-index ">
    <%= render 'days/calendar' %>
  </div>
</div>

<!-- ID name is subject to change, since we might share it between index and show views for the day -->
<!-- first box: info of the day with symptoms, second box: links of the day -->
