
<h1>I AM DAYS#INDEX</h1>
<!-- ID name is subject to change, since we might share it between index and show views for the day -->
<!-- first box: info of the day with symptoms, second box: links of the day -->


