
  <div class="background-index">
    <div class="row">
      <div class="col-xs-0 col-md-1"></div>
    <div id="greeting-index"class="col-xs-12 col-md-5">
      <br>
      <div class="welcome-title-width-100">
        <h3 style="color: #5B8E7D" class="title-highlight welcome">How is your day going?</h3>
      </div>
      <br>
      <p>Let me know what's on your mind and how you are feeling today, so I can suggest personalised and tailor-made health advice for you. </p>
      <div id="symptom-input">
      <%= render 'new' %>
      </div>
    </div>
    <div class="col-xs-0 col-md-0.5"></div>
    <div id= "calendar-index" class="col-xs-12 col-md-5">
      <%= render 'days/calendar' %>
    </div>
  </div>
</div>
<div class="mascot"></div>
<!-- ID name is subject to change, since we might share it between index and show views for the day -->
<!-- first box: info of the day with symptoms, second box: links of the day -->
