<div class="background-index">
  <div id="greeting " class="half-index">
    <h1>Hello love, welcome back aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
  </div>
  <div id= "calendar-index" class="half-index">
    <div class="calendar">
      <h1>coucou je suis le calendrier</h1>
    </div>
    <div class="symptom-input">
    <h1>coucou je suis les symptomes</h1>
    </div>
  </div>
</div>
