<div class="background-index">
  <div class="greeting half">
    <h1>Hello love, welcome back !</h1>
  </div>
  <div class="calendar-index half">
    <h1>coucou je suis le calendrier</h1>
  </div>
</div>
