.container-banner {
  width: 100vw;
  background-image: asset-url('banner-sign-up-page'), linear-gradient(#FFFFFF, #5B8E7D);
  background-position: inherit;
  background-size: cover;
  height: 750px;

}

.sign-form {
  border: 2px solid #5B8E7D;
  background-color: white;
  border-radius: 5px;
  opacity: 0.75;
  max-height: 50vh;
  max-width: 40vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 6.5rem;
}

#sign-up-form {
  max-height: 52vh;
}

.title-slogan {
  align-items: center;
}

#row-banner {
  height: 750px;
  width: 100vw;
  align-items: center;
}

// .container-banner {
//   color: white;
// }

.container-banner h1 {
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 0px $orange-underline;
  color: white;
}

.container-banner h3 {
  font-size: 3rem;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.container-banner p {
  font-size: 24px;
}
.title-padding {
  padding: 7%;
}

#btn-color {
  background-color: #5B8E7D;
  border-color: #5B8E7D;
  margin-bottom: 1em;
}

#btn-color:hover {
  background-color: #D5875B;
  border-color: #D5875B;
  margin-bottom: 1em;
}

#link-color {
  color: #5B8E7D;

}

.btn-banner {
  background-color: #5B8E7D;
  border-color: #5B8E7D;
  color: white;
}

.button {
  font: bold 2rem Roboto;
  text-decoration: none;
  background-color: #004a2f;
  color: white;
  padding: 8px 15px;
}

.button:hover {
  background-color: $orange-underline;
  color: white;
  text-decoration: none;
}

// this is setting a line under the "learn more about ... period" but we need to see if it's addinf value or not
#text-highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 90%, $orange-underline 20%);
}

#title-color {
  color: #5B8E7D;
}
