td.not-month {
  background-color: #5b8e7d;
}

.bleeding1{
  background-color: #fc7e86;
}
.bleeding2{
  background-color: #fc747d;
}
.bleeding3{
  background-color: #fc3744;
}
.bleeding4{
  background-color: #fc202f;
}
.bleeding5{
  background-color: #db0210;
}

td {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}
td.today{
  border-color: blue;
  border-width: 1px;
  border: true;
}

th {
  text-align:center;
  font-family: 'Arial', sans-serif;
  border-style: thin;
  border-bottom-color: #5b8e7d;
}
#calendar {
  border-style: ridge;
  border-radius: 5px;
  border-width: 2px;
  border-color: #5b8e7d;
  margin-bottom: 10px;
}
#calendar-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
#month-indicator {
  padding: 0;
}
#calendar-content-days {
  padding: 0;
}
.table-bordered {
  margin-bottom: 1px;
}
