td.not-month {
  background-color: #af94ec;
}

.bleeding1{
  background-color: #fc7e86;
}
.bleeding2{
  background-color: #fc747d;
}
.bleeding3{
  background-color: #fc3744;
}
.bleeding4{
  background-color: #fc202f;
}
.bleeding5{
  background-color: #db0210;
}

td {
  text-align: center;
}

th {
  text-align:center;
}
