.bleeding1{
  background-color: #fc7e86;
}
.bleeding2{
  background-color: #fc747d;
}
.bleeding3{
  background-color: #fc3744;
}
.bleeding4{
  background-color: #fc202f;
}
.bleeding5{
  background-color: #db0210;
}

td.passed-days {
  padding: 0px;
  height: 90px  ;
  vertical-align: middle;
}
td.not-month {
   background-color: antiquewhite;
  padding: 0px;
  vertical-align: middle;
}
td {
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  justify-content: center;
  height: 90px  ;
  vertical-align: middle;
}
td:hover {
  background-color: lightgrey;
  vertical-align: middle;
}
td.selected {
  border-color: #c57b57;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  padding: 0px;
  height: 90px  ;
  vertical-align: middle;
}
td.today {
  padding: 0px;
  height: 90px  ;
  vertical-align: middle;
  border-style: ridge;
  border-color: green;
  border-width: 3px;
}
td.upcoming-days {
  padding: 0px;
  height: 90px  ;
  vertical-align: middle;
}
td > a {
  width: 100%;
  height: 100%;
}
tr > th {
  text-align:center;
  font-family: 'Arial', sans-serif;
  background-color:whitesmoke;
  font-size: 12px;
  font-style: underline;
  height: 30px;
  vertical-align: middle;
}

tr {
  margin: 0;
  vertical-align: middle;
}

.well {
  background-color: #ffe8d9;
}

#calendar {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.62);
  max-height: max-content;
}
#calendar-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

#month-indicator {
  padding: 0;
}
#calendar-content-days {
  padding: 0;
  justify-content: center;
}

#woof-woof {
  padding-top: 4%;
}

#date-color {
  color: #5B8E7D;
}

#calendar-index {
  margin-top: 20vh;
}
