.navbar-lewagon {
  background: rgba(0,0,0,.35);
  opacity: 0.85;
  // color: rgba(0,0,0,0.3);
  width: 100vw;
  position: sticky;
  top: 0;
  margin-bottom: 0px;
}
#navbar-space{
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-item{

font-size: 20px;
line-height: 1rem;
font-family: Soleil,Helvetica,Arial,sans-serif;
font-weight: 100;
letter-spacing: .08334rem;
text-transform: uppercase;
list-style-type: none;
text-decoration: none;
}

// .navbar{
// height: 100%;
// overflow: hidden;
// }

.nav-item:hover{
  transition: 0.3s;
  font-size: 20.5px;
  color: #f3ba9c;

}


