.navbar-lewagon {
  // background: #719d8e;
  background-color: transparent;
  opacity: 0.85;
  width: 100vw;
  position: sticky;
  top: 0;
  margin-bottom: 0px;
  position: absolute;
}
#navbar-space{
  display: flex;
  justify-content: space-around;
}

.navbar-lewagon .navbar-brand img {
  max-width: 100px;
  margin: 0 11rem;
}
.nav-item{

font-size: 20px;
line-height: 1rem;
font-family: Soleil,Helvetica,Arial,sans-serif;
font-weight: 100;
letter-spacing: .08334rem;
text-transform: uppercase;
list-style-type: none;
text-decoration: none;
background-position: 0 100%;
background-repeat: repeat-x;
background-size: 4px 4px;
color: #000;
text-decoration: none;
transition: background-size .2s;
}

.nav-item:hover{
  transition: 0.3s;
  font-size: 20.5px;
  color: #f3ba9c;
  background-size: 4px 50px;

}


#navbar-link-display {
  margin-top: 20px;
}
