// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Calendar styling

td.not-month {
  background-color: #af94ec;
}

.bleeding1{
  background-color: #fc7e86;
  width: 100%;
  height: 100%;
}

.bleeding2{
  background-color: #fc747d;
  width: 100%;
  height: 100%;
}
.bleeding3{
  background-color: #fc3744;
  width: 100%;
  height: 100%;
}
.bleeding4{
  background-color: #fc202f;
  width: 100%;
  height: 100%;
}
.bleeding5{
  background-color: #db0210;
  width: 100%;
  height: 100%;
}

td {
  text-align: center;
}

th {
  text-align:center;
}
